JAVA_OPTS="-Xms512m -Xmx1024m"
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=8081
SPRING_DATASOURCE_URL=jdbc:mysql://127.0.0.1:3306/salesmanagement?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=your_db_user
SPRING_DATASOURCE_PASSWORD=your_db_password
APP_ATTACHMENT_STORAGE_ROOT=/opt/salesmanagement/uploads

