<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "classpath://org/mybatis/mybatis-3-mapper.dtd">

<mapper namespace="com.jerry.salesmanagement.mapper.ContractClauseMapper">
    <select id="selectByUuid" parameterType="string"
            resultType="com.jerry.salesmanagement.pojo.ContractClause">
        SELECT
            id,
            uuid,
            contract_basic_info_id AS contractBasicInfoId,
            clause_type_id AS clauseTypeId,
            clause_description AS clauseDescription,
            clause_amount AS clauseAmount
        FROM contract_clause
        WHERE uuid = #{uuid}
    </select>

    <select id="selectByContractUuid" parameterType="string"
            resultType="com.jerry.salesmanagement.pojo.ContractClause">
        SELECT
            id,
            uuid,
            contract_basic_info_id AS contractBasicInfoId,
            clause_type_id AS clauseTypeId,
            clause_description AS clauseDescription,
            clause_amount AS clauseAmount
        FROM contract_clause
        WHERE contract_basic_info_id = #{contractUuid}
    </select>

    <insert id="insert" parameterType="com.jerry.salesmanagement.pojo.ContractClause"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO contract_clause (
            uuid,
            contract_basic_info_id,
            clause_type_id,
            clause_description,
            clause_amount
        ) VALUES (
            #{uuid},
            #{contractBasicInfoId},
            #{clauseTypeId},
            #{clauseDescription},
            #{clauseAmount}
        )
    </insert>

    <update id="updateByUuid" parameterType="com.jerry.salesmanagement.pojo.ContractClause">
        UPDATE contract_clause
        <set>
            <if test="contractBasicInfoId != null">contract_basic_info_id = #{contractBasicInfoId},</if>
            <if test="clauseTypeId != null">clause_type_id = #{clauseTypeId},</if>
            <if test="clauseDescription != null">clause_description = #{clauseDescription},</if>
            <if test="clauseAmount != null">clause_amount = #{clauseAmount},</if>
        </set>
        WHERE uuid = #{uuid}
    </update>

    <delete id="deleteByUuid" parameterType="string">
        DELETE FROM contract_clause
        WHERE uuid = #{uuid}
    </delete>
</mapper>
