<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "classpath://org/mybatis/mybatis-3-mapper.dtd">

<mapper namespace="com.jerry.salesmanagement.mapper.ContractTypeMapper">
    <select id="selectById" parameterType="long" resultType="com.jerry.salesmanagement.pojo.ContractType">
        SELECT
            id,
            type_name AS typeName,
            type_code AS typeCode
        FROM contract_type
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="com.jerry.salesmanagement.pojo.ContractType">
        SELECT
            id,
            type_name AS typeName,
            type_code AS typeCode
        FROM contract_type
    </select>
</mapper>
