<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "classpath:dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jerry.salesmanagement.mapper.SysRoleMapper">
    <select id="selectById" parameterType="long" resultType="com.jerry.salesmanagement.pojo.SysRole">
        SELECT
            id,
            role_name AS roleName,
            create_time AS createTime,
            create_user AS createUser,
            update_time AS updateTime,
            update_user AS updateUser
        FROM sys_role
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="com.jerry.salesmanagement.pojo.SysRole">
        SELECT
            id,
            role_name AS roleName,
            create_time AS createTime,
            create_user AS createUser,
            update_time AS updateTime,
            update_user AS updateUser
        FROM sys_role
    </select>

    <insert id="insert" parameterType="com.jerry.salesmanagement.pojo.SysRole"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_role (
            role_name,
            create_time,
            create_user
        ) VALUES (
            #{roleName},
            NOW(),
            #{createUser}
        )
    </insert>

    <update id="update" parameterType="com.jerry.salesmanagement.pojo.SysRole">
        UPDATE sys_role
        <set>
            <if test="roleName != null">role_name = #{roleName},</if>
            update_time = NOW(),
            update_user = #{updateUser}
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM sys_role
        WHERE id = #{id}
    </delete>
</mapper>
